{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
{#  # }
    <h1>Create new Project</h1>
    {{ include('project/_form.html.twig') }}
    <a href="{{ path('app_project_index') }}">back to list</a>
{ #  #}

    <div class="container">
        <h2 class="text-center mt-5 mb-3">Create Project</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_project_index') }}"> 
                    View All Projects
                </a>
            </div>
            <div class="card-body">
                 {{ include('project/_form.html.twig') }}
            </div>
        </div>
    </div>
    
{% endblock %}
